<h1>This is the Secret Page !</h1>

<p>You found Me BC</p>

<img src="https://i.ytimg.com/vi/mrm50KbvGnk/hqdefault.jpg">

<li><a href="/register"> Sign Up </a></li>
<li><a href="/login"> Login </a></li>
<li><a href="/logout"> Logout </a></li>